<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqClient.Properties.Settings.ProCSharpConnectionString"
            connectionString="Data Source=(local);Initial Catalog=ProCSharp;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>