<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Wrox.ProCSharp.Syndication.Properties.Settings.Formula1V1ConnectionString"
      connectionString="Data Source=(local);Initial Catalog=Formula1V1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Wrox.ProCSharp.Syndication.Formula1Feed">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SyndicationService/" />
            <!--<add baseAddress="http://localhost:8080/DemoService/Syndication"/>-->
          </baseAddresses>
        </host>
        <endpoint contract="Wrox.ProCSharp.Syndication.IFormula1Feed" address="Feed1" binding="webHttpBinding" behaviorConfiguration="SyndicationService.Feed1Behavior"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SyndicationService.Feed1Behavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
